In [37]:
import pandas as pd
import numpy as np

df1061=pd.read_excel("D:/Users/Ooi/Desktop/G Suite Google Drive/Colab Notebooks/Python in ML and DL/HW/My Great Python Lab/HW3/abc.xlsx", encoding="Big5")
df1062=pd.read_excel("D:/Users/Ooi/Desktop/G Suite Google Drive/Colab Notebooks/Python in ML and DL/HW/My Great Python Lab/HW3/def.xlsx", encoding="Big5")
df1062.head()

  院 系 組 別 Unnamed: 1   共 計 延修生 Unnamed: 4
0     NaN        NaN     計   男          女
1    文學院        1000  2083  76        126
2  中國文學系        1010   264   7         18
3  外國語文學系       1020   528  12         29
4    歷史學系       1030   254  13         11

把學院剔除

In [40]:
df1061=df1061[~df1061["院 系 組 別"].str.contains("學院", na=False)]
df1062=df1062[~df1062["院 系 組 別"].str.contains("學院", na=False)]
df1061=df1061.fillna(0) 
df1062=df1062.fillna(0)

為了方便操作，重新命名為英文名字

In [41]:
df1061.columns=["Department", "Code", "Total Amount", "Delay Male", "Delay Female"]
df1061=df1061.iloc[2:,:]
df1062.columns=["Department", "Code", "Total Amount", "Delay Male", "Delay Female"]
df1062=df1062.iloc[2:,:]
df1062.head(2)

  Department  Code Total Amount Delay Male Delay Female
3     外國語文學系  1020          528         12           29
4       歷史學系  1030          254         13           11

把男生和女生加起來

In [42]:
DelayMale1061 = df1061.iloc[:,3]
DelayFemale1061 = df1061.iloc[:,4]
DelayMale1062 = df1062.iloc[:,3]
DelayFemale1062 = df1062.iloc[:,4]

list(DelayFemale1061)
list(DelayMale1061)
TotalDelay1061=[x+y for x,y in zip(DelayMale1061, DelayFemale1061)]
list(DelayFemale1062)
list(DelayMale1062)
TotalDelay1062=[x+y for x,y in zip(DelayMale1062, DelayFemale1062)]

df1061["Total Delay"]=TotalDelay1061
df1062["Total Delay"]=TotalDelay1062
df1061.head()

  Department  Code Total Amount Delay Male Delay Female  Total Delay
3     外國語文學系  1020          544         15           39           54
4       歷史學系  1030          264         14           19           33
5        哲學系  1040          186         13            8           21
6       人類學系  1050          158          5           11           16
7     圖書資訊學系  1060          210          5           16           21

計算機率：延畢/系的總人數

In [45]:
TotalDelay1061=list(df1061["Total Delay"])
TotalAmount1061=list(df1061["Total Amount"])
Final1061=[x/y for x,y in zip(TotalDelay1061,TotalAmount1061)]
df1061["Percent"]=Final1061
Department1061=df1061[df1061["Percent"]==df1061["Percent"].max()].iloc[0,0]
TotalDelay1062=list(df1062["Total Delay"])
TotalAmount1062=list(df1062["Total Amount"])
Final1062=[x/y for x,y in zip(TotalDelay1062,TotalAmount1062)]
df1062["Percent"]=Final1062
Department1062=df1062[df1062["Percent"]==df1062["Percent"].max()].iloc[0,0]

df1061.head()

  Department  Code Total Amount Delay Male Delay Female  Total Delay   Percent
3     外國語文學系  1020          544         15           39           54  0.099265
4       歷史學系  1030          264         14           19           33  0.125000
5        哲學系  1040          186         13            8           21  0.112903
6       人類學系  1050          158          5           11           16  0.101266
7     圖書資訊學系  1060          210          5           16           21  0.100000

In [46]:
print(f"106年延畢業率最高的系：\n上學期：{Department1061}\n下學期：{Department1062}")

106年延畢業率最高的系：
上學期：戲劇學系
下學期：戲劇學系